EMBEDDING_MODEL_NAME=embeddingmodelprovider/embeddingmodelname
CHAT_MODEL_NAME=chatmodelprovider/chatmodelname
#adjust the following params as per your embedding model context
CHUNK_SIZE=999
CHUNK_OVERLAP=99
EMBEDDING_BATCH_SIZE=99
